In [14]:
import pandas as pd

In [15]:
df_books = pd.read_csv('./bestsellers-with-categories.csv')
df_books

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [16]:
df_books[0:4]

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction

## Challenge
- Importar un archivo .csv y cambiar los tÃ­tulos a espaÃ±ol.
- Buscar las 10 primeras filas saltando de 2 en 2 y filtrar por los 2 primeros header
- Buscar las 30 primeras filas filtrando por los headers 3 y 5

In [25]:
pd_csv = pd.read_csv('./bestsellers-with-categories.csv', header=0, names=['Nombre', 'Autor', 'User Rating', 'Reviews', 'Price', 'Year', 'Genre'])
type(pd_csv)
pd_csv

,Nombre,Autor,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

La funciÃ³n .loc[] accede a datos de un dataframe especificando las etiquetas de columnas y filas

In [41]:
pd_csv.loc[0:11:2, ['Autor', 'Nombre']]

,Autor,Nombre
0,JJ Smith,10-Day Green Smoothie Cleanse
2,Jordan B. Peterson,12 Rules for Life: An Antidote to Chaos
4,National Geographic Kids,"5,000 Awesome Facts (About Everything!) (Natio..."
6,George R. R. Martin,A Game of Thrones / A Clash of Kings / A Storm...
8,James Comey,"A Higher Loyalty: Truth, Lies, and Leadership"
10,Fredrik Backman,A Man Called Ove: A Novel

La funciÃ³n .iloc[] accede a datos de un dataframe especificando los Ã­ndices de columnas y filas

In [43]:
pd_csv.iloc[0:30:3, 0:3]

,Nombre,Autor,User Rating
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7
3,1984 (Signet Classics),George Orwell,4.7
6,A Game of Thrones / A Clash of Kings / A Storm...,George R. R. Martin,4.7
9,A Man Called Ove: A Novel,Fredrik Backman,4.6
12,A Stolen Life: A Memoir,Jaycee Dugard,4.6
15,Adult Coloring Book Designs: Stress Relief Col...,Adult Coloring Book Designs,4.5
18,Adult Coloring Books: A Coloring Book for Adul...,Coloring Books for Adults,4.5
21,All the Light We Cannot See,Anthony Doerr,4.6
24,And the Mountains Echoed,Khaled Hosseini,4.3
27,"Autobiography of Mark Twain, Vol. 1",Mark Twain,4.2

In [50]:
pd_csv[['Autor', 'User Rating']]

                        Autor  User Rating
0                    JJ Smith          4.7
1                Stephen King          4.6
2          Jordan B. Peterson          4.7
3               George Orwell          4.7
4    National Geographic Kids          4.8
..                        ...          ...
545               Jeff Kinney          4.9
546               Jen Sincero          4.7
547               Jen Sincero          4.7
548               Jen Sincero          4.7
549               Jen Sincero          4.7

[550 rows x 2 columns]